*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Lexend Tera';
    font-style: normal;
    box-sizing: border-box;
    align-items: center;
}
.humburger{
    display: none;
}
header{
    width: 100%;
    height: 60px;
    padding: 0 100px;
    background: #FFFFFF;
    position: absolute;
    top: 135px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-bar ul{
    display: flex;
    
}
.nav-bar ul li a{
    display: block;
    color: black;
    font-size: 20px;
    padding: 10px 25px;
    transition: 0.2s;
    margin: 0 5px;
    
}
.nav-bar ul li a:hover{
    color: #fff;
    background:greenyellow;
}
.nav-bar ul li a.active{
    color: #fff;
    background:greenyellow;
}
@media only screen and (max-width: 1320px){
    header{
        padding:50px;
    }
}
@media only screen and (max-width: 1100px){
    header{
        padding:30px;
    }
}
@media only screen and (max-width: 900px){
    .humburger{
        display: block;
        cursor: pointer;
        position: relative;
        right: 140px;
    }
    .humburger .line{
        width: 25px;
        height: 3px;
        background: black;
        margin: 2px;
        
        position: sticky;
        
    
        
    }

    .nav-bar{
    height: 0px;
    position: absolute;
    top: 80px;
    
    left: 0;
    right: 0;
    width: 100vw;
    background: #ffffff;
    transition: .2s;
    overflow: hidden;


    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul li a{
        margin-bottom: 12px;
        
    }
}


.greenimg{
    position: absolute;
width: 100%;
height: 134px;
left: 0px;
top: 0px;

background: url(leaves-g45c75c55e_1920.jpg);
}
.textE{
    position: absolute;
width: 388px;
height: 2px;
left: calc(50% - 388px/2);
top: 30px;

font-family: 'Lexend Tera';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 80px;
text-align: center;

color: #FFFF3F;

text-shadow: 9px 9px 10px #000000;
}


.rec1{
    position: static;
width: device-width;
height: 730px;
top: 185px;
left: 0px;
right:0px ;
background: conic-gradient(from -14.38deg at 50% 49.93%, #A5FF00 -34.15deg, #FBFF14 194.06deg, #A5FF00 325.85deg, #FBFF14 554.06deg);
}
.img1{
    position: absolute;
    width: 381px;
    height: 247px;
    left: 130px;
    top: 259px;
    padding: 0;
    background: url(mint-g83668f821_1920.jpg);
    filter: drop-shadow(9px 7px 16px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}
.img2{
    position: absolute;
width: 381px;
height: 247.26px;
left: 530px;
top: 257px;

background: url(rosemary-plants-place-white-marble-floor_1150-35559.png);
filter: drop-shadow(9px 7px 16px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}

.img3{
    position: absolute;
width: 385px;
height: 247.97px;
left: 930px;
top: 258.03px;

background: url(top-view-bay-leaves-with-pepper.jpg);
filter: drop-shadow(9px 7px 16px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}
.img4{
    position: absolute;
width: 383px;
height: 247.82px;
left: 130px;
top: 543.97px;

background: url(top-view-green-greenies-fresh-ripe-brown-green-salad-leaf_140725-19015.jpg);
filter: drop-shadow(9px 7px 16px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}

.img5{
    position: absolute;
width: 380.17px;
height: 247.38px;
left: 530px;
top: 544.62px;

background: url(basil-hairy-basil-thyme-herbal-garden_7636-1954.png);
filter: drop-shadow(9px 7px 16px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}

.img6{
    position: absolute;
width: 382.17px;
height: 244.46px;
left: 930.83px;
top: 545.6px;

background: url(dried-saffron-spices-saffron-flower-wooden-plate-wooden-table-stamens-are-used-cooking_347372-1553.png);
filter: drop-shadow(9px 7px 16px rgba(0, 0, 0, 0.25));
border-radius: 20px;
}

.b1{
    position: absolute;
width: 263px;
height: 51px;
left: 588px;
top: 838px;

background: #55A630;
border-radius: 10px;
}
.b11{
    position: absolute;
width: 33px;
height: 38px;
left: 795px;
top: 845px;
}
.b111{
    position: absolute;
width: 166px;
height: 22px;
left: 610px;
top: 839px;

font-family: 'Lexend Tera';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

color: #FFFFFF;

}
