* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Lexend Tera";
  font-style: normal;
  box-sizing: border-box;
  align-items: center;
}
.greenimg{
  width: 100%;
}
header {
  width: 100%;
  height: 70px;
  padding: 0 100px;
  background: #fdfdfd;
  position: absolute;
  top: 135px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: black;
  font-size: 20px;
  padding: 10px 25px;
  transition: 0.2s;
  margin: 0 5px;
}
.nav-bar ul li a:hover {
  color: #fff;
  background: greenyellow;
}
.nav-bar ul li a.active {
  color: #fff;
  background: greenyellow;
}

.textE {
  position: absolute;
  width: 388px;
  height: 2px;
  left: calc(50% - 388px / 2);
  top: 30px;

  font-family: "Lexend Tera";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 80px;
  text-align: center;

  color: #ffff3f;

  text-shadow: 9px 9px 10px #000000;
}
.container{
  position: relative;
  top: 80px;;
}